/* ===========================
   config : Global config
   =========================== */

// fonts list

@include font-face("proximanova-bold", "../../src/fonts/proxima/proximanova-bold-webfont");
@include font-face("proximanova-regular", "../../src/fonts/proxima/proximanova-regular", $file-formats: ttf);

$font-family--primary--bold : "proximanova-bold", "Helevitica Neue" , Helvetica, Arial, sans-serif;
$font-family--primary--regular : "proximanova-regular", "Helevitica Neue" , Helvetica, Arial, sans-serif;

// font weight

$font-weight--light			: 300;
$font-weight--medium		: 400;
$font-weight--bold			: 700;

// base color

$white         : #ffffff;
$black         : #0b0b0b;
$gray          : #333333;
$gray--light   : #7e7878;
$green         : #1cb097;
$green--light  : #21bda9;
$red           : #cb2027;
$yellow        : #cbc520;
$gold          : #959455;



// default font values

$base-font-size   : 19px;
$base-line-height : 32px;
$letter-spacing   : 1px;
@include establish-baseline($base-font-size);

// Transitions

$trns-duration   : .3s;


// Path to assets

$path--rel : "../img";


// grid

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: 100%,
  container-position: center,
  columns: 2,
  gutters: 0,
  column-width: false,
  last-flow: to,
  global Box Sizing: border-box,

);


// media queries

$huge   : 1540px;
$large  : 1000px;
$medium : 800px;
