.icon-arrow-bottom { background-image: url('png/arrow-bottom.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-arrow-top { background-image: url('png/arrow-top.png'); background-repeat: no-repeat; }

.icon-arrowLeft { background-image: url('png/arrowLeft.png'); background-repeat: no-repeat; }

.icon-arrowRight { background-image: url('png/arrowRight.png'); background-repeat: no-repeat; }

.icon-circle-check { background-image: url('png/circle-check.png'); background-repeat: no-repeat; }

.icon-code - Copie { background-image: url('png/code - Copie.png'); background-repeat: no-repeat; }

.icon-code { background-image: url('png/code.png'); background-repeat: no-repeat; }

.icon-concept { background-image: url('png/concept.png'); background-repeat: no-repeat; }

.icon-cross-small { background-image: url('png/cross-small.png'); background-repeat: no-repeat; }

.icon-cross { background-image: url('png/cross.png'); background-repeat: no-repeat; }

.icon-css { background-image: url('png/css.png'); background-repeat: no-repeat; }

.icon-design { background-image: url('png/design.png'); background-repeat: no-repeat; }

.icon-double-arrow { background-image: url('png/double-arrow.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('png/github.png'); background-repeat: no-repeat; }

.icon-HTML { background-image: url('png/HTML.png'); background-repeat: no-repeat; }

.icon-html_code { background-image: url('png/html_code.png'); background-repeat: no-repeat; }

.icon-javascript_code { background-image: url('png/javascript_code.png'); background-repeat: no-repeat; }

.icon-JQuery { background-image: url('png/JQuery.png'); background-repeat: no-repeat; }

.icon-jquery2_code { background-image: url('png/jquery2_code.png'); background-repeat: no-repeat; }

.icon-jquerycode { background-image: url('png/jquerycode.png'); background-repeat: no-repeat; }

.icon-jquery_code { background-image: url('png/jquery_code.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png/linkedin.png'); background-repeat: no-repeat; }

.icon-linkined { background-image: url('png/linkined.png'); background-repeat: no-repeat; }

.icon-logo-loading { background-image: url('png/logo-loading.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-logo2 { background-image: url('png/logo2.png'); background-repeat: no-repeat; }

.icon-logo3 { background-image: url('png/logo3.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-menu_projects { background-image: url('png/menu_projects.png'); background-repeat: no-repeat; }

.icon-online { background-image: url('png/online.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-PHP { background-image: url('png/PHP.png'); background-repeat: no-repeat; }

.icon-php_code { background-image: url('png/php_code.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-printerest { background-image: url('png/printerest.png'); background-repeat: no-repeat; }

.icon-read_more { background-image: url('png/read_more.png'); background-repeat: no-repeat; }

.icon-resizeBig { background-image: url('png/resizeBig.png'); background-repeat: no-repeat; }

.icon-resizeSmall { background-image: url('png/resizeSmall.png'); background-repeat: no-repeat; }

.icon-Sass { background-image: url('png/Sass.png'); background-repeat: no-repeat; }

.icon-scss-code { background-image: url('png/scss-code.png'); background-repeat: no-repeat; }

.icon-scss_code { background-image: url('png/scss_code.png'); background-repeat: no-repeat; }

.icon-tablet { background-image: url('png/tablet.png'); background-repeat: no-repeat; }

.icon-tablette { background-image: url('png/tablette.png'); background-repeat: no-repeat; }

.icon-test { background-image: url('png/test.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

.icon-valid { background-image: url('png/valid.png'); background-repeat: no-repeat; }

